*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background: #5d5c5f;
}

h1{
padding-top: 2rem;
font-size: 40px;
color: white;
}


.container{
    padding: 4rem 0;
    display: flex;
    justify-content: center;
}

.stopwatch {
    padding: 2rem 0;
    border-radius: 1rem;
    background-color: #fff;
    width: 40%;
}

.timerDisplay{
    padding: 40px 0;
    font-family: 'Roboto mono', monospace;
    position: relative;
    width: 92%;
    background: #fff ;
    left: 4%;
    color: #0381bb;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,139,253,0.4);
}

.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    width: 7rem;
    height: 3rem;
    background-color: #205e94;
    color: #fff;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 1rem;
    cursor: pointer;
    outline: auto;
}

#startTimer{
    background-color: #20b380;
}

#resetTimer{
    background-color: #d23332;
}

